<app-navbar></app-navbar>
<div [style.backgroundImage.]="bgImg" class=" page-container d-flex">
    <div [style.background.]="bgcolor" class="profile-container shadow-lg rounded">
        <div class="header m-2 p-3 d-flex flex-row">
            <div class=" info d-flex flex-row">
                <!-- profile pic -->
                <div class="profile-pic rounded m-3">
                    <img [src]="character">
                    <div class="pp">
                        <i *ngIf="editMode" data-bs-toggle="modal" data-bs-target="#pp"
                            class="fas cam text-light fa-camera fa-lg"></i>
                    </div>
                    <!-- profile picture change -->
                    <div class="modal fade" id="pp" index="-1">
                        <div class="modal-dialog modal-lg  modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header text-dark p-3">
                                    <h4 >Pick Your Fighter!</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body d-flex flex-row flex-wrap justify-content-center p-4">

                                    <img class=" m-2 w-25 newPP " src="assets/images/thumbnails/enoiz019r2t41.png"
                                        (click)="changePP(2)"
                                        [ngClass]="{'selected img-thumbnail shadow-sm': selectedImage === 2}">
                                    <img class=" m-2 w-25 newPP "
                                        src="assets/images/thumbnails/fa15ab68646f5cd1e5f259693bef1e98-transformed.png"
                                        (click)="changePP(3)"
                                        [ngClass]="{'selected img-thumbnail shadow-sm' : selectedImage === 3}">
                                    <img class=" m-2 w-25 newPP " src="assets/images/thumbnails/PkBYcGy.png"
                                        (click)="changePP(4)"
                                        [ngClass]="{'selected img-thumbnail shadow-sm': selectedImage === 4}">
                                    <img class=" m-2 w-25 newPP " src="assets/images/thumbnails/ValorantSkye.png"
                                        (click)="changePP(5)"
                                        [ngClass]="{'selected img-thumbnail shadow-sm': selectedImage === 5}">
                                    <img class=" m-2 w-25 newPP " src="assets/images/thumbnails/pubg.png"
                                        (click)="changePP(1)"
                                        [ngClass]="{'selected img-thumbnail shadow-sm': selectedImage === 1}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- edit username -->
                    <div class="mb-2" *ngIf="editMode else elseblock">
                        <label class="fw-medium fs-4 text-light ">Username: <i class="fas fa-edit fa-sm"></i></label>
                        <input value={{user.username}} class="form-control bg-dark text-light p-2 mb-1"
                            [(ngModel)]="updatedName">
                    </div>
                    <!-- show username -->
                    <ng-template #elseblock>
                        <p class="fw-bold fs-2 text-light overUser">{{user.username.toUpperCase()}}</p>
                    </ng-template>
                    <div class="fs-5">
                        <div>
                            <!-- edit info -->
                            <div class="mb-2" *ngIf="editMode else elseblock2">
                                <label class="fw-medium fs-4 text-light ">Discord Username: <i
                                        class="fas fa-edit fa-sm"></i></label>
                                <input class="form-control bg-dark text-light p-2 mb-1" [(ngModel)]="updatedDiscord"
                                    value={{user.discord}}>
                                <label class="fw-medium fs-4 mt-2 text-light ">Theme: </label>
                                <button class="btn m-2" [(colorPicker)]="bgcolor"> <i
                                        class="text-light fa-solid fa-palette fa-xl"></i></button>
                                <button class="btn btn-dark " (blur)="refresh()" (click)="setDefault()">Default
                                    Theme</button>
                            </div>
                            <!-- show info -->
                            <ng-template #elseblock2><i class="fa-brands fa-discord"> </i>
                                <span class="text-light "> {{user.discord}}</span>
                            </ng-template>
                        </div>

                    </div>
                    <div class="mt-4 d-flex flex-row" *ngIf="!editMode">
                        <!-- followers -->
                        <div data-bs-toggle="modal" data-bs-target="#followers"
                            class="mt-2 m-2 rounded text-center stat text-light">
                            <span>{{ followers.followers.length}}</span><br>
                            <label>Followers</label>
                            <div class="modal fade" id="followers" index="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header text-dark p-3">
                                            <h5>Followers List</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body d-flex flex-row flex-wrap justify-content-center p-4">
                                            <div *ngFor="let follower of followers.followers"
                                                class="text-dark d-flex flex-row align-items-center">
                                                <img class="w-25 m-4" src={{follower.level}}>
                                                <div>
                                                    <p class="m-2 fw-bold">{{follower.username}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- following -->
                        <div data-bs-toggle="modal" data-bs-target="#following"
                            class="mt-2 m-2 rounded text-center stat text-light">
                            <span>{{following.followings.length}}</span><br>
                            <label>Following</label>
                            <div class="modal fade" id="following" index="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header text-dark p-3">
                                            <h5>Following List</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body d-flex flex-row flex-wrap justify-content-center p-4">
                                            <div *ngFor="let person of following.followings"
                                                class="text-dark d-flex flex-row align-items-center">
                                                <img class="w-25 m-4" src={{person.level}}>
                                                <div>
                                                    <p class="m-2 fw-bold">{{person.username}}</p>
                                                    <!-- <p class="bg-dark m-2 text-light pt-1 pb-1 ps-2 pe-2">
                                                        {{person.level}}</p> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- user level  -->
            <div class="level-container m-3">
                <p class="fs-3">Level</p>
                <img class="level" src={{user.level}}>
                <!-- save edits -->
                <button *ngIf="editMode else elseblock3" class="btn btn-outline-success btn-lg ps-5 pe-5 mt-4"
                    (click)="getData() ">Save</button>
                <!-- activate edit mode -->
                <ng-template #elseblock3>
                    <button (click)="toggleEditMode()"
                        class="btn btn-outline-dark btn-lg ps-5 pe-5 mt-4">Edit</button></ng-template>
            </div>
        </div>
        <hr class="m-2 separator rounded">
        <div class="d-flex flex-row Preferences">
            <p class="m-2 p-3 fs-4 fw-medium text-light">Preferences: <i *ngIf="editMode" class="fas fa-edit fa-sm"></i>
            </p>
            <!-- show preferences -->
            <div class="d-flex flex-row tags" *ngIf="!editMode else elseblock4">
                <p class="tag ms-2 rounded text-center bg-dark text-light" *ngFor="let t of user.preferences">{{t}}
                </p>
            </div>
            <!-- edit preferences -->
            <ng-template class="elseblock4" #elseblock4>
                <input class="form-control tagEdit bg-dark text-light p-2 ms-2"
                    *ngFor="let t of updatedPreferences;let i = index" value={{t}} [(ngModel)]="updatedPreferences[i]"
                    [name]="'preference' + i">
                <!-- add new preference -->
                <input class="form-control tagEdit bg-dark text-light p-2 ms-2" *ngFor="let t of inputs;let i = index"
                    value={{t}} [(ngModel)]="newPreferences[i]" [name]="'newPreferences' + i"> <i type="button"
                    (click)="addInput()" class="fa-solid fa-circle-plus fa-lg m-2"></i>

            </ng-template>
        </div>
        <hr class="m-2 separator rounded">
        <!-- show games Purchased -->
        <p class="m-2 p-3 fs-4 fw-medium text-light">Games Purchased</p>
        <div></div>
        <div class="d-flex games-purchased flex-row m-3">
            <div class="card bg-dark text-light text-center m-2 shadow-sm" *ngFor="let g of games">
                <div class="card-header">
                    <img class="card-img rounded shadow-sm" src={{g.images[0]}}>
                </div>
                <div class="card-body">
                    <p class="fs-5 title" routerLink="/games/{{g.id}}"> {{g.name}}</p>
                    <!-- <p class="desc" >{{g.description}}</p> -->
                </div>
            </div>
            <!-- if no games -->
            <div *ngIf="!games||games.length==0">
                <p class="text-center text-light bg-dark rounded p-2 m-auto mb-4">Purchase some games and see them here!</p>
            </div>
        </div>
        <hr class="m-2 separator rounded">
        <p class="m-2 p-3 fs-4 fw-medium text-light">Most Purchased Genres</p>
        <app-chart></app-chart>
    </div>
</div>
<app-footer></app-footer>