
  <!-- <form  (ngSubmit)="Add()" [formGroup]="validationForm"> -->
  <!-- </form> -->
  <div id="body">
    <div id="main" class="mx-auto">
      <div class="container">
        <h1 class="text-center">Reset Password</h1>

        <form class="myForm" (ngSubmit)="onSubmit()">
          <div class="row" [formGroup]="mainInfo">

            <div class="mb-3">
              <div [ngClass]="{'error':password.invalid && (password.dirty || password.touched)}">
                <label for="passwordInput"  class="form-label">Password</label>
                <span *ngIf="password.invalid && (password.dirty || password.touched)">
                  <span class="ms-3 errMsg" *ngIf="password.hasError('required')">Required</span>
                  <span class="ms-3 errMsg" *ngIf="password.hasError('minlength')">Minimum Length is 6</span>
                </span>
                <input type="password" class="form-control" id="passwordInput" name="password" aria-describedby="passwordHelp" formControlName="password" [(ngModel)]="myPass" (blur)="checkPasswords()">
              </div>
            </div>

            <div class="mb-3">
              <div [ngClass]="{'error':!matchPass}">
                <label for="pass2Input" class="form-label">Confirm Password</label>
                <span *ngIf="!matchPass">
                  <span class="ms-3 errMsg">Password doesn't match</span>
                </span>
                <input type="password" class="form-control" id="passwordInput" name="password" aria-describedby="passwordHelp" formControlName="password2" [(ngModel)]="myPass2" (blur)="checkPasswords()">

              </div>
            </div>

            <div class="row mt-3">
              <button type="submit"  [disabled]="!matchPass || !isPass" class="btn btn-outline-light col-md-3 offset-md-9">Change Password</button>
          </div>
          </div>
        </form>

      </div>
    </div>
  </div>


