<div class="d-flex justify-content-center">
    <div class="container section-container m-2 p-4 rounded ">
        <div class="w-100 d-flex justify-content-center flex-wrap" *ngIf="reviews&&reviews.length>0 else elseblock">
            <div class=" w-75 m-3 p-3 bg-dark text-light review-container" *ngFor="let review of reviews">
                <h3 class="fw-bold mb-4">{{review.Game.name}}</h3>
                <hr>
                <div class="d-flex justify-content-between">
                    <p class="comment-content mb-2">{{ review.content }}</p>
                    <p class="comment-content text-secondary mb-2 w-25">{{formatDate(review.createdAt || '') }}</p>
                </div>
            </div>
        </div>
        <ng-template #elseblock>
            <div class=" m-3 p-3 bg-dark text-light review-container">
                <h4 class="text-secondary text-center">User has no Reviews yet</h4>
            </div>
        </ng-template>
    </div>
</div>