<app-navbar></app-navbar>
<div [style.backgroundImage.]="bgImg" class=" page-container d-flex">
    <div [style.background.]="bgcolor" class="profile-container shadow-lg rounded">
        <div class="header m-2 p-3 d-flex flex-row">
            <div class=" info d-flex flex-row">
                <!-- profile pic -->
                <div class="profile-pic rounded m-3">
                    <img [src]="character">
                </div>
                <div>
                    <!-- show username -->
                    <p class="fw-bold fs-2 text-light overUser">{{user.username.toUpperCase()}}</p>
                    <div class="fs-5">
                        <div>
                            <!-- show info -->
                            <i class="fa-brands fa-discord"> </i>
                            <span class="text-light "> {{user.discord}}</span>

                        </div>

                    </div>
                    <div class="mt-4 d-flex flex-row">
                        <!-- followers -->
                        <div data-bs-toggle="modal" data-bs-target="#followers"
                            class="mt-2 m-2 rounded text-center stat text-light">
                            <span>{{ followers.followers.length}}</span><br>
                            <label>Followers</label>
                        </div>
                        <div class="modal fade" id="followers" index="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header text-dark p-3">
                                        <h5>Followers List</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body d-flex flex-row flex-wrap justify-content-center p-4">
                                        <div *ngIf=" followers.followers.length>0 else zeroFollowers">
                                            <div *ngFor="let follower of followers.followers"
                                                class="text-dark d-flex flex-row align-items-center">
                                                <img class="w-25 m-4" src={{follower.level}}>
                                                <div>
                                                    <p class="m-2 username fw-bold" data-bs-dismiss="modal"
                                                        (click)="redirect(follower.id)">{{ follower.username }}</p>
                                                    <p class="m-2 text-secondary">
                                                        {{follower.discord}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-template #zeroFollowers>
                                            <p class="text-center text-info">User has no followers</p>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- following -->
                        <div data-bs-toggle="modal" data-bs-target="#following"
                            class="mt-2 m-2 rounded text-center stat text-light">
                            <span>{{following.followings.length}}</span><br>
                            <label>Following</label>

                        </div>
                        <div class="modal fade" id="following" index="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header text-dark p-3">
                                        <h5>Following List</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body d-flex flex-row flex-wrap justify-content-center p-4">
                                        <div *ngIf="  following.followings.length>0 else zeroFollowing">

                                            <div *ngFor="let person of following.followings"
                                                class="text-dark d-flex flex-row align-items-center">
                                                <img class="w-25 m-4" src={{person.level}}>
                                                <div>
                                                    <p class="m-2 username fw-bold" data-bs-dismiss="modal"
                                                        (click)="redirect(person.id)">{{ person.username }}</p>
                                                    <p class="m-2 text-secondary">
                                                        {{person.discord}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <ng-template #zeroFollowing>
                                            <p class="text-center text-info">User is not currently following anyone</p>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- user level  -->
            <div class="level-container m-3">
                <p class="fs-3">Level</p>
                <img class="level" src={{user.level}}>
                <!-- follow and unfollow -->
                <button (click)="follow()" *ngIf="!isFollowing() else elseblock"
                    class="btn btn-outline-dark btn-lg ps-5 pe-5 mt-4">
                    <span *ngIf="isFollower() else falseblock">Follow</span>
                    <ng-template #falseblock>
                        Follow Back
                    </ng-template>
                </button>
                <ng-template #elseblock>
                    <button class="btn btn-outline-dark btn-lg ps-5 pe-5 mt-4" (click)="unfollow()">
                        Unfollow
                    </button>
                </ng-template>
            </div>
        </div>
        <hr class="m-2 separator rounded">
        <div class="d-flex flex-row Preferences">
            <p class="m-2 p-3 fs-4 fw-medium text-light">Preferences:
            </p>
            <!-- show preferences -->
            <div class="d-flex flex-row tags">
                <p class="tag ms-2 rounded text-center bg-dark text-light" *ngFor="let t of user.preferences">{{t}}
                </p>
            </div>
        </div>
        <hr class="m-2 separator rounded">
        <!-- show games Purchased -->
        <p class="m-2 p-3 fs-4 fw-medium text-light">Games Purchased</p>
        <div class="d-flex games-purchased flex-row m-3">
            <div class="card bg-dark text-light text-center m-2 shadow-sm" *ngFor="let g of games">
                <div class="card-header">
                    <img class="card-img rounded shadow-sm" src={{g.images[0]}}>
                </div>
                <div class="card-body">
                    <p class="fs-5 title" routerLink="/games/{{g.id}}"> {{g.name}}</p>
                </div>
            </div>
            <!-- if no games -->
            <div *ngIf="!games||games.length==0">
                <p class="text-center text-light bg-dark rounded p-2 m-auto mb-4">This user has no games yet!</p>
            </div>
        </div>
        <hr class="m-2 separator rounded">
        <p class="m-2 p-3 fs-4 fw-medium text-light">Games Reviews</p>
        <app-user-reviews></app-user-reviews>
    </div>
</div>
<app-footer></app-footer>