.Cards {
    display: -webkit-box !important;
      overflow-x: auto;
      overflow-y: auto;
    padding: 20px 0;
    box-sizing: border-box;
    width:98%
  }
  
  .card {
    width: 250px; 
    height: 250px; 
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    
    
  }
  