<section class="container shadow-lg rounded">

  <main>

    <section class="promo text-center m-2 p-3 mt-3 shadow-sm fs-3 rounded">
      <div>
        <p class="spin-emoji">🌟</p> Offer Ends Soon! <p class="spin-emoji">🌟</p>
      </div>
    </section>

    <section class="cart rounded shadow-lg">
      <ul *ngFor="let item of cart">
        <li class="item mb-3 rounded ">
          <div class="d-flex gap-4">
            <div class="image ">
              <img src={{item.images[0]}}>
            </div>

            <div>
              <h4 class="name"> {{item.name }}</h4>
              <div class="d-flex game-details">
                <div *ngFor="let type of item.types">
                  <p class="tag p-1 text-center">{{type}}</p>
                </div>
                <div *ngFor="let tag of item.tags">
                  <p class="tag p-1 text-center">{{tag}}</p>
                </div>
              </div>
              <div class="os d-flex gap-2">
                <i *ngFor="let p of item.os" class="fa" [ngClass]="{
                'fa-apple': p === 'mac',
                'fa-windows': p === 'windows',
                'fa-linux': p === 'linux'
                }"></i>
              </div>
              <p class="m-2 text-info fs-6 mt-4">{{item.points}} points</p>
            </div>
          </div>

          <div class="right-col d-flex flex-column">
            <p class="price">{{item.price}} $</p>
            <p><button (click)="removeCartItem(item.id)">Remove</button></p>
          </div>
        </li>
        <hr class="m-2 separator rounded">
      </ul>

      <section class="buttons d-flex justify-content-around">
        <a routerLink="/games"><button class="bottmom-button">Continue Shipping</button></a>
        <button class="bottmom-button" *ngIf="cart.length > 0" (click)="clearCart()">Remove All</button>
      </section>
    </section>

    <section class="summary shadow-lg mb-3">
      <div class="items">🛒 {{cart.length}} items</div>
      <div class="total"> {{total.toFixed(2)}} 💲</div>
    </section>
    <section class="summary shadow-lg mb-3 d-flex flex-column">
      <p>Apply a coupon!</p>
      <!-- <div class="input-group">
        <select class="custom-select fs-6 p-3" id="inputGroupSelect04" [(ngModel)]="selectedCouponId">
          <option *ngFor="let coupon of coupons" [value]="coupon.id">{{coupon.name}}</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="applyCoupon()">Apply</button>
        </div>
      </div> -->
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Available coupons</mat-label>
        <mat-select  [(ngModel)]="selectedCouponId">
          <mat-option *ngFor="let coupon of coupons" [value]="coupon.id">{{coupon.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>    
    <section class="actions shadow-lg" *ngIf="cart.length > 0">
      <a routerLink="/payment"><button (click)="checkout()">Checkout 💳</button></a>
    </section>

  </main>

</section>