<div class="main">
    <div class="d-flex flex-column text-light justify-content-center align-items-center container">
        <div class="container body w-75 p-4 rounded d-flex align-items-center flex-column justify-content-center">
            <h3 >
                Re-send Verification
            </h3>
            <hr class="w-50 separator">
            <input class="form-control p-4 mt-5 w-50 bg-dark text-light" placeholder="Please enter your email address.." [(ngModel)]="email">
            <p class="mt-4 w-50">To resend a new Verification link to your email, please enter a valid email address above.</p>
            <button (click)="send()" class="btn btn-lg btn-dark mt-3">Send</button>
        </div>
    </div>
</div>