<app-navbar></app-navbar>
<body>
  <div class="container">
<section class="container shadow-lg rounded">

  <main>

    <section class="promo m-2 p-3 mt-3 shadow-sm fs-3 rounded">
      <div>
        <!-- <p class="spin-emoji">🌟</p> -->
        <app-search-input> </app-search-input>
        Filtr Users By Preferences
        <p class="spin-emoji">💫</p>
      </div>
    </section>
<div >
    <section class="cart rounded shadow-lg">
      <ul >
        <li class="item mb-3 rounded">
          <div class="d-flex gap-4">
            <div class="image ">
              <img  src="../../../assets/images/bgggg.jpg">
            </div>

            <div>
              <h4 class="name"> Username </h4>
              <div class="os d-flex gap-2">
                <p>Link discord</p>
            </div>
            <div class="os d-flex gap-2">
              <p>level</p>
          </div>
            </div>
          </div>

          <div class="right-col d-flex flex-column">
            <!-- <p class="price">{{cart.price}} $</p> -->
            <p><button >Follow</button></p>
          </div>
        </li>
        <hr class="m-2 separator rounded">
      </ul>

      <!-- <section class="d-flex justify-content-around">
        <a routerLink="/games"><button class="bottmom-button">Continue Shipping</button></a>
      </section> -->
    </section>

    <section class="cart rounded shadow-lg">
      <ul >
        <li class="item mb-3 rounded">
          <div class="d-flex gap-4">
            <div class="image ">
              <img  src="../../../assets/images/bgggg.jpg">
            </div>

            <div>
              <h4 class="name"> Username </h4>
              <div class="os d-flex gap-2">
                  <p>Link discord</p>
              </div>
              <div class="os d-flex gap-2">
                <p>level</p>
            </div>
            </div>
          </div>

          <div class="right-col d-flex flex-column">
            <!-- <p class="price">{{cart.price}} $</p> -->
            <p><button >Follow</button></p>
          </div>
        </li>
        <hr class="m-2 separator rounded">
      </ul>

      <!-- <section class="d-flex justify-content-around">
        <a routerLink="/games"><button class="bottmom-button">Continue Shipping</button></a>
      </section> -->
    </section>

  </div>
  </main>

</section>
</div>
</body>
<app-footer></app-footer>
